img{
    max-width: 250px;
    max-height: auto;
    border: 3px solid black;
    padding-left: 65px;
    padding-right: 65px;
}

.logoss
{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 25vh 15vh 100vh 13vh;

}
header{
    color: beige;
    background-color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    color: beige;
    background-color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 150px;
    text-align: center;
    padding-top: 25px;
}

main{
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: row;
}

footer{
    gap: 50px;
    color: beige;
    background-color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: auto;
    text-align: center;

}