img{
    max-width: 150px;
    max-height: auto;
    border: 3px solid black;
    padding-left: 65px;
    padding-right: 65px;
}
.logoss
{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
header{
    color: beige;
    background-color: black;
    text-align: center;
    border: 2px solid black;
    border-radius: 15px;
    margin-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
}